rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_data/{userId} {
  		allow read, update, write: if request.auth.uid == userId
    }
    match /user_data/{userId}/check_ins/{checkIn} {
    	allow read, update, write: if request.auth.uid == userId
    }
    match /places/{place} {
      allow write: if false;
      allow read: if true;
    }
    match /places/{place}/all_beers/{beer} {
      allow write: if false;
      allow read: if true
    }
    match /places/{place}/on_tap/{tap} {
      allow write: if false;
      allow read: if true
    }
    match /events/{event} {
    	allow write: if false;
      allow read: if true;
    }
    match /trophies/{trophy} {
    	allow write: if false;
      allow read: if true;
    }
    match /regions/{region} {
    	allow write: if false;
      allow read: if true;
    }
  }
}