<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367000494792-gcq1geerbk58i7ncu3rt6rnhd9k2ruq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367000494792-gcq1geerbk58i7ncu3rt6rnhd9k2ruq8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367000494792-m8a37jhuq928mif9nn9auemgn1tgv5k3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAo4IgFURXi4ubV46epyt26i4slF1z925w</string>
	<key>GCM_SENDER_ID</key>
	<string>367000494792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.alabamabrewers.albeertrail</string>
	<key>PROJECT_ID</key>
	<string>alabama-beer-trail-dab63</string>
	<key>STORAGE_BUCKET</key>
	<string>alabama-beer-trail-dab63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367000494792:ios:02c1f6fe0cc00d9dec7bfd</string>
	<key>DATABASE_URL</key>
	<string>https://alabama-beer-trail-dab63.firebaseio.com</string>
</dict>
</plist>